*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card{
    width: auto;
    margin-bottom: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.card img{
    width: 100%;
    height: 459px;
    vertical-align: middle;
}